<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310592291543-8e9cdf6cjofmrrcjoa5g204s1m2n25ft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310592291543-8e9cdf6cjofmrrcjoa5g204s1m2n25ft</string>
	<key>API_KEY</key>
	<string>AIzaSyASSHRF68VyHVdCqdru5o6p4mu9keV7-PE</string>
	<key>GCM_SENDER_ID</key>
	<string>310592291543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendzone</string>
	<key>PROJECT_ID</key>
	<string>friendzone-6fd10</string>
	<key>STORAGE_BUCKET</key>
	<string>friendzone-6fd10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310592291543:ios:d3abe614f7d4089b12a692</string>
</dict>
</plist>